@page
@model IndexModel
@{
    ViewData["Title"] = "Notely Notes";
}

@Html.AntiForgeryToken()

<link href="~/node_modules/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />

<div class="container container-fluid">

    <a asp-page="./Notely/Edit" class="btn btn-primary">Add New</a>
    <hr />
    <div class="row">
        @foreach (var note in Model.Notes)
        {
            <div class="col-md-6">
                <partial name="./Notely/_NoteSummaryItem" model="note" />
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/main.js"></script>
    <script src="~/node_modules/jquery-confirm/dist/jquery-confirm.min.js"></script>
}