@using NotelyCore.Domain
@model Link

<div class="row">
    <div class="col-md-9">
        <a href="@Model.Url">@Model.Url</a>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-3">
        <div class="btn-group" role="group">
            <a class="btn btn-primary"
               asp-page="./Edit"
               asp-route-linkId=@Model.LinkId>
                <i class="fa fa-edit"></i>
            </a>
            <i class="btn btn-primary"
               onclick="deleteLink(this)"
               data-link-id="@Model.LinkId">
                <i class="fa fa-trash"></i>
            </i>
        </div>
    </div>
</div>
<hr />
