@using NotelyCore.Domain
@model Link

<div class="row">
    <div class="col-md-9">
        <a href="@Model.Url">@Model.Url</a>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-3">
        <div class="btn-group" role="group">
            <button class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>
<hr />
